- var educationImage = "images/educationImage.png"
- var item1 = "images/item1.svg"
- var item2 = "images/item2.svg"
- var item3 = "images/item3.svg"
- var item4 = "images/item4.svg"
- var item5 = "images/item5.svg"
- var item6 = "images/item6.svg"

section.education-section#education
	div.education-section__image(data-scroll)
		img(data-scroll, data-scroll-position="top", data-scroll-speed='-3', )(src = educationImage)

	div.education-section__info-block(data-scroll)
		h2
			| Образование
		div.education-section__list-items
			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item1)
				span 
					| 50 000 Programmers in KG 
				p 
					| Совместная программа Beeline и IT-academia, Frontend

			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item2)
				span 
					| Responsive Web Design  
				p 
					| freeCodeCamp
			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item3)
				span 
					| Современный JavaScript + Vue с нуля 
				p 
					| Udemy
			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item4)
				span 
					| RSSchool
				p 
					| JS / FRONT-END
			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item5)
				span 
					| https://code-basics.com/ru 
				p 
					| JS, CSS, HTML and others
			div(data-scroll data-scroll-class="appear" data-scroll-repeat="true").education-section__item
				img(src=item6)
				span 
					| Б.Г.Т.У. им. Д.Ф. Устинова «ВОЕНМЕХ» 
				p 
					| Инженер-механик, Металлы и технологии обработки металлов давлением