- var facebook = "images/facebookIcon.svg"
- var linkedin = "images/linkedin.svg"
- var telegram = "images/telegramIcon.svg"
- var trixcode = "images/trixcode.png"
- var fl = "images/fl.png"


main.main

	section.aboutMeSection#hello
		h1
			| Шпреер Геннадий
		span
			| Frontend Developer
		br
		br
		p 
			|Я заинтересован в разработке и стремлюсь стать ценным членом команды. Люблю учиться и принимать вызовы, 
			|чтобы постоянно развиваться. Я стремлюсь, чтобы, качество моей работы всегда было на высшем уровне, я 
			|стараюсь соблюдать все задачи и требования. Готов работать с большими объемами заданий. Мой энтузиазм, 
			|ответственность и умение работать в команде сделают меня ценным дополнением к любой разработческой команде. 
			|Готов принимать вызовы, чтобы достичь успеха вместе с командой и улучшить свои навыки в этой области.
		
		ul.aboutMeSection__contacts
			li 
				a(href="mailto:intellegento@gmail.com", target="_blank") intellegento@gmail.com
			li 
				a(href="tel:+996550311391", target="_blank") +996(550)311-391
			li 
				| г. Бишкек

		ul.aboutMeSection__socials
			li 
				a(href="https://www.facebook.com/g.shpreer", target="_blank") 
					img(src=facebook)
			li 
				a(href="https://www.linkedin.com/in/g-shpreer/", target="_blank") 
					img(src=linkedin)
			li 
				a(href="https://t.me/intellegento", target="_blank")
					img(src=telegram) 

	section.expirienceSection#expirience
		h2
			| Опыт работы

		div.expirienceItem
			p.expirienceItem__date 
				| Октябрь 2021 - настоящее время
			br
			p.expirienceItem__title 
				| Frontend developer
			br
			div.expirienceItem__company 
				img(src=trixcode)
				div.expirienceItem__company__title
					p.expirienceItem__company__title__name
						|TrixCode LLC 
					p.expirienceItem__company__title__location
						| г. Ьишкек, Кыргызстан
			br
			ul.expirienceItem__description 
				li 
					| - Участвовал в создании новых проектов с использованием React и Next JS и различных библиотек, таких как, GSAP, AnimateJS, и многих других
				li 
					| - Участвовал в создании проекта на Shopify (liquid)
				li 
					| - Получил опыт работы с различными CMS, включая Shopify и WordPress
				li 
					| - Переносил крупноный проект с WordPress и GatsbyJS 2.6 на React и Strapi
				li 
					| - Увеличил производительность и оценки готового продукта в Lighthouse в различных метриках
				li 
					| - Самостоятельно разработал небольшого проекта 
				li 
					| - Руководил небольшой командой на начальных этапах разработки нового проекта, включая постановку задач, оценку сроков и отслеживание этапов разработки. 
				li 
					| - Создавал E-mail тимплэйты для рассылок клиентам 
				li 
					| - Участвовал в наполнении готовых проектов как на стороне фронтэнда так и, на стороне бэкэнда
				li 
					| - Разработал и оформил тестового задания для интернов
			br
			a.expirienceItem__link(href="https://trixcode.io/") trixcode.io

		div.expirienceItem
			p.expirienceItem__date 
				| Январь 2021- Октябрь 2021
			br
			p.expirienceItem__title 
				| ОБУЧЕНИЕ FRONTEND РАЗРАБОТКЕ 
			br
			div.expirienceItem__company 
				div.expirienceItem__company__title
					p.expirienceItem__company__title__name
						|
					p.expirienceItem__company__title__location
						| г. Ьишкек, Кыргызстан
			br
			ul.expirienceItem__description 
				li 
					| -jewelery
					br
					| Тестовое задание. В проекте использовались HTML, CSS, JavaScript(Next.JS), AnimeJS
				li 
					| -Todo (список дел) 
					br
					| Выпускная работа на курсе компьютерной грамотности проекта 50к программистов. В проекте использовались Python(Django) + HTML&CSS
				li 
					| -Covid-19
					br
					| Самостоятельная работа под контролем ментора. В проекте были использованы HTML, SCSS, JavaScript, Bootstrap, WebPack и немного JS,, при работе использовался GitHub. Проект в процессе завершения, на данный момент он занял 1,5 месяца.

		div.expirienceItem
			p.expirienceItem__date 
				| Май 2010 – Сентябрь 2021
			br
			p.expirienceItem__title 
				| Графический дизайнер(FL.ru, freelancer.com)
			br
			div.expirienceItem__company 
				img(src=fl)
				div.expirienceItem__company__title
					p.expirienceItem__company__title__name
						| FL.ru
					p.expirienceItem__company__title__location
						| г. Ьишкек, Кыргызстан
			br
			ul.expirienceItem__description 
				li 
					| Поиск и работа с клиентами, обсуждение и решение поставленных целей, поиск оптимальных решений, ведение переписок, создание акшнскриптов для Photoshop, решение спорных моментов и поиск компромиссов, создание печатной и цифровой продукции, контент менеджмент и многое, многое другое	
	//- picture.home__picture.home__picture--2#bye
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem-2.jpg`,
	//- 	alt: 'Мемчик 2',
	//- }, [
	//- 	{
	//- 		srcset: `${baseDir}images/mem-2.jpg`,
	//- 	}
	//- ]).home__picture.home__picture--2#bye
